*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    position:relative;
    overflow: hidden;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#page1>img{
    position: absolute;
    
    right: 5%;
    top:55%;
    transform: translateY(-50%);
    position: absolute;
    
    width: 50%;
}

#page1>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    

}

#center-nav{
    display: flex;
    gap: 20px;


}

#center-nav>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
#nav>input{
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid ;
    text-transform: uppercase;
}

#nav>img{
    position:relative;
    margin-top: 5%;
    left:2%;
    height:160px;
    width:160px;

}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #FCDA69;

}

#text{
    position:relative ;
    padding: 30px 50px;
    
    height: 75%;
    width: 35%;
    top:18%;
    left:5%;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#text>h1{
    margin-top: 18px;
}

#text>h4{
    margin-top: 20px;
    color:rgb(49, 43, 43)
}

#text>h5{
    color:rgb(89, 89, 185);
    transform: rotate(-20deg);
    position: absolute;
    left: 5%;

}

#buttons{
    position: absolute;
    left:0%;
    bottom: 15%;
    padding-top: 20%;
    
    height: 30%;
    width: 100%;

}

#buttons>button{
    padding: 10px 22px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    font-weight: 500;
}

#buttons>button>i{
    font-size: 17px;
}

#buttons>#b1{
    background-color: rgb(89, 89, 185);
}

#text>h6{
    position: absolute;
    right:0%;
    bottom:5%;
    transform: rotate(+90deg);
}
#text>h6>i{
    font-size: 15px;
}

#page2>#right{
    position: absolute;
    height: 90%;
    width: 50%;
    right:5%;
    
    margin: 40px;
    
}

.box{
    height:33.3%;
    position: relative;
    border-top: 2px solid black;
    font-size: 20px;
}

#left{
    position: absolute;
    margin:50px 50px;
    height: 30%;
    width:50%;
    z-index: 9;
}
#left>h1{
    
    font-size: 70px;
    margin-top: 20px;
}

#left>h4{
    position: absolute;
    font-size: 17px;
    width: 70%;
    margin-top: 20px;
    color: rgb(36, 34, 34);
    
}

#page2>img{
    position:absolute;
    left: 5%;
    bottom:5%;
    width:15%;
}

.circle{
    position: absolute;
    display: flex;
    border-radius: 50%;
    border-color: black;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 141, 156);
    height: 4vw;
    width: 4vw;
    right:7%;
    bottom:50%;
    
}

.circle>i{
    font-size: 25px;
    color: aliceblue;
}