h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    
    
    
}

div>label{

    font-family: sans-serif;
    

}

body{
    padding: 50px 100px;
    background-image: url('https://images.unsplash.com/photo-1560977501-7cb367eccebe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlcm1vbWV0ZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(177, 171, 164);


}


#container{
    text-align: center;
}

.input-div{
    display: inline-block;
    
}

.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;

}


